<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= image_tag @banner.image.url(:medium) %>
  <%= @banner.link %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
